{% extends 'static_page.html' %}

{% block header %}Данные об отеле{% endblock %}

{% block title %}Свободные номера{% endblock %}


{% block body %}
    <ul>
    {% for hotel in hotels %}
        <li><a href="{% url 'hotel_url' hotel.id %}">{{ hotel.title }}</a></li>
        {% if hotel.title == '5-звездочные отели' %}
            {% include 'hotel_description.html' with hotel=hotel %}
        {% else %}
            {% include 'No_date.html' with hotel=hotel %}
        {% endif %}
    {% empty %}
        Пустой список
    {% endfor %}
    </ul>
{% endblock %}